$darkPurple: rgb(83, 50, 115);
$darkPurpleOpacity: rgba(83, 50, 115, .5);
$lightPurple: rgb(165, 113, 217);
$lightPurpleOpacity: rgb(165, 113, 217, .5);
$grey: rgb(244, 244, 244);
$white: #FFFFFF;
$red: #CC3300;
$darkBlue: #4678F3;
